<div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="airsoftstoreApp.category.home.notFound">Ningún Categories encontrado</span>
  </div>

  <div class="row title-container">
    <div class="col-12" *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="airsoftstoreApp.category.home.refreshListLabel">Refrescar lista</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-category"
          [routerLink]="['/category/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="airsoftstoreApp.category.home.createLabel"> Crear nuevo Category </span>
        </button>
      </div>
    </div>
    <div class="col-12">
      <h2 jhiTranslate="airsoftstoreApp.category.home.title">Category</h2>
    </div>
  </div>

  <!-- <div class="col-12 col-lg-3 filter-container">
      <jhi-filter [filters]="filters"></jhi-filter>
    </div> -->

  <div class="row items-container" *ngIf="categories">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let category of categories">
      <jhi-card [item]="category" [url]="'/category/' + category.id + '/edit'"></jhi-card>
    </div>
  </div>

  <div *ngIf="categories && categories.length > 0">
    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
