<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="item">
      <h2 data-cy="itemDetailsHeading"><span jhiTranslate="airsoftstoreApp.item.detail.title">Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ item.id }}</span>
        </dd>
        <dt><span jhiTranslate="airsoftstoreApp.item.title">Title</span></dt>
        <dd>
          <span>{{ item.title }}</span>
        </dd>
        <dt><span jhiTranslate="airsoftstoreApp.item.price">Price</span></dt>
        <dd>
          <span>{{ item.price }}</span>
        </dd>
        <dt><span jhiTranslate="airsoftstoreApp.item.stock">Stock</span></dt>
        <dd>
          <span>{{ item.stock }}</span>
        </dd>
        <dt><span jhiTranslate="airsoftstoreApp.item.description">Description</span></dt>
        <dd>
          <span>{{ item.description }}</span>
        </dd>
        <dt><span jhiTranslate="airsoftstoreApp.item.productDetails">Product Details</span></dt>
        <dd>
          <span>{{ item.productDetails }}</span>
        </dd>
        <dt><span jhiTranslate="airsoftstoreApp.item.cover">Cover</span></dt>
        <dd>
          <div *ngIf="item.cover">
            <a (click)="openFile(item.cover, item.coverContentType)">
              <img [src]="'data:' + item.coverContentType + ';base64,' + item.cover" style="max-width: 100%" alt="item image" />
            </a>
            {{ item.coverContentType }}, {{ byteSize(item.cover) }}
          </div>
        </dd>
        <dt><span jhiTranslate="airsoftstoreApp.item.brand">Brand</span></dt>
        <dd>
          <div *ngIf="item.brand">
            <a [routerLink]="['/brand', item.brand.id, 'view']">{{ item.brand.title }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="airsoftstoreApp.item.subCategory">Sub Category</span></dt>
        <dd>
          <div *ngIf="item.subCategory">
            <a [routerLink]="['/sub-category', item.subCategory.id, 'view']">{{ item.subCategory.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/item', item.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
