/* ==========================================================================
Main page styles
========================================================================== */

.subCategory-container {
  background-color: #1D1D1D;

  width: 100%;
  margin: 0 12px 0 0;
  padding: 24px 12px;
}

.items-container {
  background-color: #1D1D1D;

  margin: 0 0 0 0;
  padding: 24px 12px;
}
