@import '../../../content/scss/bootstrap-variables';

.card {
  margin-bottom: 24px;
  box-shadow: 5px 5px 15px black;
  background-color: white;

  .card-header {
    color: black;
    font-weight: bold;
  }

  .card-img {
    width: 100%;
    height: 200px;

    img {
      height: 100%;
      width: 100%;
      max-height: 100vh;
      max-width: 110vh;
      object-fit: cover;
      transition: 0.5s;
    }

    button {
      display: none;
      transition: 0.5s;
    }
  }

  .card-footer {
    color: black;
    font-weight: bold;
    height: 94px;

    button {
      color: white;
      padding: 5px 10px;
      border-radius: 10px;
      border: none;
      background-color: black;
      transition: 0.5s;

      span {
        fa-icon {
          margin-right: 2px;
        }
      }
    }

    .outOfStock {
      color: red;
    }
  }

  &:hover {
    .card-img {

      img {
        filter: blur(3px);
      }

      .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        display: block;
      }
    }

    .card-footer {
      button {
        box-shadow: 0 0 10px black;
      }
    }
  }
}
