@import "../../../content/scss/bootstrap-variables";


.card {
  margin-bottom: 24px;
  background-color: $ranger-color;
  box-shadow: 5px 5px 15px black;
  transition: 0.5s;

  .card-body {
    .card-title {
      color: white;
    }
  }

  .card-img {
    width: 100%;
    height: 200px;

    img {
      height: 100%;
      width: 100%;
      max-height: 100vh;
      max-width: 110vh;
      object-fit: cover;
    }
  }

  &:hover {
    box-shadow: 0 0 20px 5px #768775;
  }
}
